/CoreAdmin/bin
/CoreAdmin/obj
/CoreAdmin.Common/obj
/CoreAdmin.Common/bin
/CoreAdmin.FrameWork/obj
/CoreAdmin.FrameWork/bin
/CoreAdmin.IRepository/obj
/CoreAdmin.IRepository/bin
/CoreAdmin.Model/obj
/CoreAdmin.Model/bin
/CoreAdmin.Repository/obj
/CoreAdmin.Repository/bin
